body {
    display: flex; 
    justify-content: center;    /* vertical alignment */
    align-content: center;      /* horizontal alignment */
    align-items: center;
    flex-direction: column;

    height: 100vh;          /* center alignment */
    background-repeat: no-repeat;
}
/*
.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: whitesmoke;
    font-family: 'Century Gothic', sans-serif;
  }
*/
html {
    font-family: 'Century Gothic', sans-serif;
    background-image: url(".././images/WFCoBQ.jpeg");
}

h1 {
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 100;
}
h3 {
    color: whitesmoke;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 100;
}

li {
    display: inline;
}

p {
    color: whitesmoke;
}

li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    transition: all ease-in-out 250ms;
}

li a:hover {
    color: #9bb9b9;
}

ul {
    list-style-type: none;
    color: whitesmoke;
    font-size: 5px;
    margin: 0;
    padding: 0; 
}
