body {
    display: flex; 
    justify-content: center;    /* vertical alignment */
    align-content: center;      /* horizontal alignment */
    align-items: center;
    flex-direction: column;

    height: 100vh;          /* center alignment */
    background-repeat: no-repeat;
}

li {
    display: inline;
}

li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

li a:hover {
    color: #9bb9b9;
}
html {
    font-family: 'Century Gothic', sans-serif;
    background-image: url("./images/23277.jpg")
}

h1 {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;

}

ul {
    color: whitesmoke;
}

