body {
    display: flex; 
    justify-content: center;    /* vertical alignment */
    align-content: center;      /* horizontal alignment */
    align-items: center;
    flex-direction: column;

    height: 100vh;          /* center alignment */
    background-repeat: no-repeat;
}

.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
  }
 
.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

li {
    display: inline;
}

li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 60px;
    padding: 10px;
    transition: all ease-in-out 250ms;
}

li a:hover {
    color: #9bb9b9;
}
html {
    font-family: 'Century Gothic', sans-serif;
    background-image: url("./images/23277.jpg");
}

h1 {
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

h3 {
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;

}

ul {
    color: whitesmoke;
}

.first-ul {
    list-style-type: none;
    color: whitesmoke;
    font-size: 5px;
    margin: 0;
    padding: 0;  
}