body {
    display: flex; 
    justify-content: center;    /* vertical alignment */
    align-content: center;      /* horizontal alignment */
    align-items: center;
    flex-direction: column;

    height: 100vh;          /* center alignment */
}

li {
    display: inline;
}

html {
    font-family: 'Century Gothic', sans-serif;
    background-image: url("./images/23277.jpg")
}

h1 {
    color: #f8f8ff;
}

h3 {
    color: #f8f8ff;

}

ul {
    color: #f8f8ff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  