body {
    display: flex; 
    justify-content: center;    /* vertical alignment */
    align-content: center;      /* horizontal alignment */
    align-items: center;
    flex-direction: column;

    height: 100vh;          /* center alignment */
}

li {
    display: inline;
}

html {
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    
}

h1 {
    color: #f8f8ff;
}

h3 {
    color: #f8f8ff;

}

ul {
    color: #f8f8ff;
}